<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/templates/css/main.css">
	<title>Res Agenda</title>
</head>
<body>
	<div id="container">
		<h1>Search</h1>
		<div id="searchForm">
		<form name="search" action="">
			<!-- search users -->
			<!-- search lists -->
		</form>
		</div>
	</div>
</body>
</html>